.card-img-top{
  position: relative;
  top: 0;
  left: 0;
}
.logo{
  position: absolute;
  top: 180px;
  left: 500px;
}
.card-head{
  font-family: "Roboto";
  font-size: 30px;
  color: white;
}
.card-head-text1 {
  position: absolute;
  top: 42%;
  left: 43%;
  /*transform: translate(-50%, -50%);*/
}
.card-head-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
