.card-img-top{
  position: relative;
  top: 0;
  left: 0;
}
.logo{
  position: absolute;
  top: 180px;
  left: 500px;
}
.mouse-click{
  position: absolute;
  top: 560px;
  left: 540px;
}
.card-head{
  font-family: "Roboto";
  color: white;
  text-transform: uppercase;
}
.card-head-text1 {
  position: absolute;
  top: 31%;
  left: 43%;
  font-size: 30px;
  /*transform: translate(-50%, -50%);*/
}
.card-head-text2 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.card-head-text3 {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 10px;
}
